@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



/* CSS */

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  background-color: #f5f5f5;
}

/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #f5f5f5;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Customize the scrollbar corner */
::-webkit-scrollbar-corner {
  background-color: #f5f5f5;
}

.text-gradient {
  background: linear-gradient(to right, #ff00cc, #00fff7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .title {
    font-size: 1rem;
  }

  .desc{
    font-size: .8rem;
  }
}
@media (min-width: 1024px) {
  .title {
    font-size: 1.2rem;
  }

  .desc{
    font-size: 1rem;
  }
}
